@import url("https://use.typekit.net/hwf0fzd.css");

html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding:0
}

.hero-video, .is-overlay, .modal-background, .modal, .image.is-square img, .image.is-square .has-ratio, .image.is-1by1 img, .image.is-1by1 .has-ratio, .image.is-5by4 img, .image.is-5by4 .has-ratio, .image.is-4by3 img, .image.is-4by3 .has-ratio, .image.is-3by2 img, .image.is-3by2 .has-ratio, .image.is-5by3 img, .image.is-5by3 .has-ratio, .image.is-16by9 img, .image.is-16by9 .has-ratio, .image.is-2by1 img, .image.is-2by1 .has-ratio, .image.is-3by1 img, .image.is-3by1 .has-ratio, .image.is-4by5 img, .image.is-4by5 .has-ratio, .image.is-3by4 img, .image.is-3by4 .has-ratio, .image.is-2by3 img, .image.is-2by3 .has-ratio, .image.is-3by5 img, .image.is-3by5 .has-ratio, .image.is-9by16 img, .image.is-9by16 .has-ratio, .image.is-1by2 img, .image.is-1by2 .has-ratio, .image.is-1by3 img, .image.is-1by3 .has-ratio {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top:0
}

html {
    background-color: #fff;
    font-size: 16px;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    min-width: 300px;
    overflow-x: hidden;
    overflow-y: scroll;
    text-rendering: optimizeLegibility;
    text-size-adjust:100%
}

article, aside, figure, footer, header, hgroup, section {
    display:block
}

body, button, input, optgroup, select, textarea {
    font-family:OculiText, alegreya, serif
}

body {
    color: #000;
    font-size: 1.3em;
    font-weight: 400;
    line-height:1.6
}

.image {
    display: block;
    position:relative
}

.image img {
    display: block;
    height: auto;
    width:100%
}

.image img.is-rounded {
    border-radius:9999px
}

.image.is-fullwidth {
    width:100%
}

.image.is-square img, .image.is-square .has-ratio, .image.is-1by1 img, .image.is-1by1 .has-ratio, .image.is-5by4 img, .image.is-5by4 .has-ratio, .image.is-4by3 img, .image.is-4by3 .has-ratio, .image.is-3by2 img, .image.is-3by2 .has-ratio, .image.is-5by3 img, .image.is-5by3 .has-ratio, .image.is-16by9 img, .image.is-16by9 .has-ratio, .image.is-2by1 img, .image.is-2by1 .has-ratio, .image.is-3by1 img, .image.is-3by1 .has-ratio, .image.is-4by5 img, .image.is-4by5 .has-ratio, .image.is-3by4 img, .image.is-3by4 .has-ratio, .image.is-2by3 img, .image.is-2by3 .has-ratio, .image.is-3by5 img, .image.is-3by5 .has-ratio, .image.is-9by16 img, .image.is-9by16 .has-ratio, .image.is-1by2 img, .image.is-1by2 .has-ratio, .image.is-1by3 img, .image.is-1by3 .has-ratio {
    height: 100%;
    width:100%
}

.image.is-square, .image.is-1by1 {
    padding-top:100%
}

.image.is-5by4 {
    padding-top:80%
}

.image.is-4by3 {
    padding-top:75%
}

.image.is-3by2 {
    padding-top:66.6666%
}

.image.is-5by3 {
    padding-top:60%
}

.image.is-16by9 {
    padding-top:56.25%
}

.image.is-2by1 {
    padding-top:50%
}

.image.is-3by1 {
    padding-top:33.3333%
}

.image.is-4by5 {
    padding-top:125%
}

.image.is-3by4 {
    padding-top:133.3333%
}

.image.is-2by3 {
    padding-top:150%
}

.image.is-3by5 {
    padding-top:166.6666%
}

.image.is-9by16 {
    padding-top:177.7777%
}

.image.is-1by2 {
    padding-top:200%
}

.image.is-1by3 {
    padding-top:300%
}

.image.is-16x16 {
    height: 16px;
    width:16px
}

.image.is-24x24 {
    height: 24px;
    width:24px
}

.image.is-32x32 {
    height: 32px;
    width:32px
}

.image.is-48x48 {
    height: 48px;
    width:48px
}

.image.is-64x64 {
    height: 64px;
    width:64px
}

.image.is-96x96 {
    height: 96px;
    width:96px
}

.image.is-128x128 {
    height: 128px;
    width:128px
}

.container { /* 1772 */
    flex-grow: 1;
    margin: 0 auto;
    position: relative;
    width:auto
}

.container.is-fluid {
    max-width: none !important;
    padding-left: 32px;
    padding-right: 32px;
    width:100%
}

@media screen and (min-width: 1024px) {
    .container {
        max-width:960px
    }
}

@media screen and (max-width: 1215px) {
    .container.is-widescreen:not(.is-max-desktop) {
        max-width:1152px
    }
}

@media screen and (max-width: 1407px) {
    .container.is-fullhd:not(.is-max-desktop):not(.is-max-widescreen) {
        max-width:1344px
    }
}

@media screen and (min-width: 1216px) {
    .container:not(.is-max-desktop) {
        max-width:1152px
    }
}

@media screen and (min-width: 1408px) {
    .container:not(.is-max-desktop):not(.is-max-widescreen) {
        max-width:1344px
    }
}

.media {
    align-items: flex-start;
    display: flex;
    text-align:inherit
}

.media .content:not(:last-child) {
    margin-bottom:.75rem
}

.media .media {
    border-top: 1px solid rgba(219, 219, 219, .5);
    display: flex;
    padding-top:.75rem
}

.media .media .content:not(:last-child), .media .media .control:not(:last-child) {
    margin-bottom:.5rem
}

.media .media .media {
    padding-top:.5rem
}

.media .media .media + .media {
    margin-top:.5rem
}

.media + .media {
    border-top: 1px solid rgba(219, 219, 219, .5);
    margin-top: 1rem;
    padding-top:1rem
}

.media.is-large + .media {
    margin-top: 1.5rem;
    padding-top:1.5rem
}

.media-left, .media-right {
    flex-basis: auto;
    flex-grow: 0;
    flex-shrink:0
}

.media-left {
    margin-right:1rem
}

.media-right {
    margin-left:1rem
}

.media-content {
    flex-basis: auto;
    flex-grow: 1;
    flex-shrink: 1;
    text-align:inherit
}

@media screen and (max-width: 768px) { /* 4740 */
    .media-content {
        overflow-x:auto
    }
}

header { /* 11720 */
    background: linear-gradient(#262933, 70%, #262933, 90%, rgba(31, 26, 23, 0));
    opacity: 0;
    display: block;
    color: #ccc;
    height: 4.5em;
    overflow: hidden;
    width: 100%;
    z-index: 800;
    position: fixed;
    top: 0;
    left: 0;
    transition:opacity .5s
}

header .full-name, header .short-name {
    position: fixed;
    overflow: hidden;
    transition: opacity .5s;
    top: .4em;
    left:.6em
}

header .full-name {
    opacity:100%
}

header .short-name {
    opacity:0
}

header .title {
    opacity: 0;
    transition: opacity .5s;
    color: #56575c;
    font-family: expo-sans-pro, sans-serif;
    font-weight: normal;
    font-size:70%
}

header .title a {
    color:#807f79
}

header.show-header {
    opacity:100%
}

header.show-header .full-name {
    opacity:100%
}

header.show-page-title .full-name {
    opacity:0%
}

header.show-page-title .short-name {
    opacity:100%
}

header.show-page-title .title {
    opacity:100%
}

.es-com {
    font-family: john-doe, serif;
    font-size: 160%;
    font-weight: 700;
    color:#56575c
}

.es-com .scouten {
    color:#807f79
}

.es-com a {
    text-decoration: none;
    color:#5c5f66
}

.es-com a img {
    opacity:50%
}

.es-com a:hover {
    color: #fff;
    text-decoration:none
}

.es-com a:hover img {
    opacity:100%
}

.es-com a:hover .scouten {
    color:#fff
}

@media screen and (max-width: 600px) {
    .es-com {
        font-size:100%
    }
}

.section { /* 11647 */
    padding:3rem 1.5rem
}

@media screen and (min-width: 1024px) { /* 11651 */
    .section {
        padding:3rem 3rem
    }

    .section.is-medium {
        padding:9rem 4.5rem
    }

    .section.is-large {
        padding:18rem 6rem
    }
}

.es_image { /* 11670 */
    padding: 2vw 0;
    max-width: 100vw;
    text-align:center
}

.es_image img {
    max-height:90vh
}

.es_image .caption {
    margin-top: -.5em;
    font-style: italic;
    font-size:80%
}

.es_image .caption .caption-title {
    font-style: normal;
    font-weight:bold
}

about { /* 11827 */
    background: #262933;
    display: block;
    color: #ccc;
    width: 100%;
    margin: 0;
    font-family: expo-sans-pro, sans-serif;
    font-size: 80%;
    line-height: 1.3;
    padding: 0 1rem 1rem 1rem;
    border-top: 1px solid #262933;
    border-bottom:1px solid #888
}

about .content {
    max-width: 40rem;
    margin: 0 auto;
    padding-bottom:0
}

about .content .image {
    margin-top:1.2em
}

about .content figure:not(:last-child) {
    margin-left: 0;
    margin-right: 1.25em;
    margin-bottom:0
}

about .content figure:not(:last-child) p {
    margin-bottom:0
}

about .content .about-text {
    max-width: 20em;
    margin:1.2em auto 0 0
}

about .content p, about .content p:not(:last-child) {
    margin:.5em 0
}

about .content .links-wide, about .content .links-narrow {
    margin-top: 1em;
    font-size:90%
}

about .content .links-narrow {
    display:none
}

about .content p.link {
    margin:.25em 0
}

about .content p.link span.icon {
    display: inline-block;
    width: 1em;
    margin-right:.5em
}

about .content p.link .cta-link {
    display: inline-block;
    padding: 2px 4px;
    border-radius: 2px;
    background-color: #999;
    font-weight: bold;
    color:#000
}

about .content p.link .cta-link:hover {
    background-color:#fff
}

about .content p.link .socials {
    margin-left:.5em
}

about .content p.link .socials a:hover {
    text-decoration:none
}

about .content p.link .socials span.icon {
    margin-left: .15em;
    margin-right:0
}

about .content .es-home {
    font-weight:bold
}

about strong {
    color:#ccc
}

about a {
    color:#999
}

about a:hover {
    color:#fff
}

about .search-assembly {
    position: fixed;
    z-index: 3000;
    top: 1.5em;
    right:1em
}

about .search-assembly input {
    opacity: 40%;
    max-width:7em
}

about .search-assembly input:focus {
    opacity: 100%;
    max-width:12em
}

about .search-assembly #search {
    border-color:#56575c
}

about .search-assembly .control .icon {
    color:#807f79
}

about .search-assembly .control .input:focus ~ .icon {
    color:#fff
}

about .search-assembly .input {
    background-color: #18181c;
    color: #ccc;
    font-family:expo-sans-pro, sans-serif
}

about .search-assembly .input::placeholder {
    color:#56575c
}

@media screen and (max-width: 475px) {
    about .content .links-wide {
        display:none
    }

    about .content .links-narrow {
        display:block
    }
}

@media screen and ((max-height: 600px) or(max-width: 600px)) { /* 11980 */
    .optional {
        display:none
    }
}

.page, .section, .taxonomy { /* 11986 */
    padding-top: 2em;
    margin-top:0
}

.page #es-content, .section #es-content, .taxonomy #es-content {
    display: flex;
    flex-direction:column
}

.page #es-content p:first-of-type, .section #es-content p:first-of-type, .taxonomy #es-content p:first-of-type {
    font-size: 115%;
    order: -2;
    -webkit-order:-2
}

.page #es-content #toc, .section #es-content #toc, .taxonomy #es-content #toc {
    font-family: expo-sans-pro, sans-serif;
    order: -1;
    -webkit-order: -1;
    line-height:1.4em
}

.page #es-content #toc ul, .section #es-content #toc ul, .taxonomy #es-content #toc ul {
    margin:0 auto
}

.page .page-date, .section .page-date, .taxonomy .page-date {
    color: #999;
    font-family: expo-sans-pro, sans-serif;
    font-size: 81% !important;
    font-weight: normal;
    margin-top: -1.2em;
    margin-bottom:2em
}

.page .page-date .date, .section .page-date .date, .taxonomy .page-date .date {
    color: #000;
    font-weight:bold
}

.page .page-date .es-tag a, .section .page-date .es-tag a, .taxonomy .page-date .es-tag a {
    color:#999
}

.page ul li, .section ul li, .taxonomy ul li {
    margin: .25em 0 .25em 1.5em;
    list-style:disc
}

.page ul li p:first-of-type, .section ul li p:first-of-type, .taxonomy ul li p:first-of-type {
    font-size:1.3rem !important
}

.page .breadcrumb, .section .breadcrumb, .taxonomy .breadcrumb {
    font-family: expo-sans-pro, sans-serif;
    margin-bottom:1em
}

.page .breadcrumb ul li, .section .breadcrumb ul li, .taxonomy .breadcrumb ul li {
    margin:0
}

.page .breadcrumb ul li a, .section .breadcrumb ul li a, .taxonomy .breadcrumb ul li a {
    padding:0 .4em
}

.page .breadcrumb ul li:first-of-type, .section .breadcrumb ul li:first-of-type, .taxonomy .breadcrumb ul li:first-of-type {
    padding-left:0
}

.page .breadcrumb ul li:first-of-type a, .section .breadcrumb ul li:first-of-type a, .taxonomy .breadcrumb ul li:first-of-type a {
    padding-left:0
}

.page .breadcrumb ul li:first-of-type .icon, .section .breadcrumb ul li:first-of-type .icon, .taxonomy .breadcrumb ul li:first-of-type .icon {
    margin:0
}

.page .title-assembly, .section .title-assembly, .taxonomy .title-assembly {
    margin-top: 0;
    margin-bottom:3em
}

.page .title-assembly h1.title, .section .title-assembly h1.title, .taxonomy .title-assembly h1.title {
    font-size: 200%;
    line-height: 100%;
    margin-top: 0;
    margin-bottom:.5em
}

.page .title-assembly h1.title .top-section-home, .section .title-assembly h1.title .top-section-home, .taxonomy .title-assembly h1.title .top-section-home {
    font-size:35%
}

.page .title-assembly ul.page_meta, .section .title-assembly ul.page_meta, .taxonomy .title-assembly ul.page_meta {
    margin: 3em auto;
    max-width: 40rem;
    font-family: expo-sans-pro, sans-serif;
    font-size:80%
}

.page .title-assembly ul.page_meta li, .section .title-assembly ul.page_meta li, .taxonomy .title-assembly ul.page_meta li {
    list-style: none;
    margin: .25em 0;
    line-height:1.1em
}

.page a, .section a, .taxonomy a {
    color:#838aa2
}

.page blockquote, .section blockquote, .taxonomy blockquote {
    background-color: #e6e8ec;
    margin: 1em auto;
    max-width: 40rem;
    border-left: 6px solid #c1c4d1;
    padding-left: 1.25rem;
    padding-right:1rem
}

.page blockquote p:first-of-type, .section blockquote p:first-of-type, .taxonomy blockquote p:first-of-type {
    font-size:1.3rem !important
}

.page .card, .section .card, .taxonomy .card {
    background-color: #ddd;
    margin:4rem 0
}

.page .card-header, .section .card-header, .taxonomy .card-header {
    font-family: expo-sans-pro, sans-serif;
    margin: .5em .5em 0 .5em;
    padding-bottom: .5em;
    border-bottom: 1px solid #aaa;
    box-shadow:none
}

.page .card-header .card-header-title, .section .card-header .card-header-title, .taxonomy .card-header .card-header-title {
    display: block;
    color:#000
}

.page .card-header .card-header-title a, .section .card-header .card-header-title a, .taxonomy .card-header .card-header-title a {
    color:#000
}

.page .card-header .card-header-title .breadcrumb, .section .card-header .card-header-title .breadcrumb, .taxonomy .card-header .card-header-title .breadcrumb {
    padding-top: .5em;
    line-height: 1em;
    opacity:50%
}

.page .card-header .card-header-title .breadcrumb ul, .section .card-header .card-header-title .breadcrumb ul, .taxonomy .card-header .card-header-title .breadcrumb ul {
    margin:0
}

.page .card-header .card-header-title .breadcrumb a:hover, .section .card-header .card-header-title .breadcrumb a:hover, .taxonomy .card-header .card-header-title .breadcrumb a:hover {
    color:#fff
}

.page .card-header .card-header-title item, .section .card-header .card-header-title item, .taxonomy .card-header .card-header-title item {
    display:block
}

.page .card-header .card-header-title .title, .section .card-header .card-header-title .title, .taxonomy .card-header .card-header-title .title {
    font-size: 120%;
    font-weight: 700;
    margin:.25rem 0
}

.page .card-header .card-header-title .date, .section .card-header .card-header-title .date, .taxonomy .card-header .card-header-title .date {
    opacity: 80%;
    font-weight: 400;
    font-size: 70%;
    line-height:1
}

.page .card-image, .section .card-image, .taxonomy .card-image {
    margin-top:-1px
}

.page .card-content, .section .card-content, .taxonomy .card-content {
    font-size:1.25rem
}

.page .card-content .content, .section .card-content .content, .taxonomy .card-content .content {
    margin:-2rem 0
}

.page .card-content p:first-of-type, .section .card-content p:first-of-type, .taxonomy .card-content p:first-of-type {
    font-size:1.25rem !important
}

.page .card-content .read-more, .section .card-content .read-more, .taxonomy .card-content .read-more {
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-family: expo-sans-pro, sans-serif;
    font-size: 80%;
    text-align:right
}

.page .subsections, .section .subsections, .taxonomy .subsections {
    font-family: expo-sans-pro, sans-serif;
    font-size: 75%;
    list-style:none
}

.page .subsections li, .section .subsections li, .taxonomy .subsections li {
    margin: 0 2em 0 0;
    display: inline;
    white-space:nowrap
}

.page .subsections li a:hover, .section .subsections li a:hover, .taxonomy .subsections li a:hover {
    text-decoration:none
}

.page .subsections li a:hover .sub-title, .section .subsections li a:hover .sub-title, .taxonomy .subsections li a:hover .sub-title {
    text-decoration:underline
}

.page .es-endmark .es-endmark-inner, .section .es-endmark .es-endmark-inner, .taxonomy .es-endmark .es-endmark-inner {
    background-image: url("/common/endmark-background.png");
    background-repeat: repeat-x;
    background-position: center center;
    margin: 4rem auto;
    max-width:24rem
}

.page .es-endmark .es-endmark-inner .es-endmark-img, .section .es-endmark .es-endmark-inner .es-endmark-img, .taxonomy .es-endmark .es-endmark-inner .es-endmark-img {
    background: #fff;
    text-align: center;
    margin: 0 auto;
    width: 104px;
    line-height:1
}

.page .es-endmark .es-endmark-inner .es-endmark-img img, .section .es-endmark .es-endmark-inner .es-endmark-img img, .taxonomy .es-endmark .es-endmark-inner .es-endmark-img img { /* 12224 */
    height: 54px;
    width:54px
}

section { /* 12510 */
    padding: 1rem !important;
    background-color:#fff
}

section .container { /* 12515 */
    max-width:none !important
}

@font-face { /* 12573 */
    font-family: "OculiText";
    src: url("https://img.ericscouten.com/theme/fonts/OculiText-Bold.woff2") format("woff2");
    font-weight: 700;
    font-style:normal
}

@font-face {
    font-family: "OculiText";
    src: url("https://img.ericscouten.com/theme/fonts/OculiText-BoldItalic.woff2") format("woff2");
    font-weight: 700;
    font-style:italic
}

@font-face {
    font-family: "OculiText";
    src: url("https://img.ericscouten.com/theme/fonts/OculiText-Regular.woff2") format("woff2");
    font-weight: normal;
    font-style:normal
}

@font-face {
    font-family: "OculiText";
    src: url("https://img.ericscouten.com/theme/fonts/OculiText-RegularItalic.woff2") format("woff2");
    font-weight: normal;
    font-style:italic
}

@font-face {
    font-family: "OculiText";
    src: url("https://img.ericscouten.com/theme/fonts/OculiText-Medium.woff2") format("woff2");
    font-weight: 500;
    font-style:normal
}

@font-face {
    font-family: "OculiText";
    src: url("https://img.ericscouten.com/theme/fonts/OculiText-MediumItalic.woff2") format("woff2");
    font-weight: 500;
    font-style:italic
}

@font-face {
    font-family: "OculiText";
    src: url("https://img.ericscouten.com/theme/fonts/OculiText-Black.woff2") format("woff2");
    font-weight: 900;
    font-style:normal
}

@font-face {
    font-family: "OculiText";
    src: url("https://img.ericscouten.com/theme/fonts/OculiText-BlackItalic.woff2") format("woff2");
    font-weight: 900;
    font-style: italic
}
