  <cta id="subscribe">
    <inner>
      <h3>If you’ve enjoyed this …</h3>
      <p><b>Subscribe</b> to my free and occasional (never more than weekly) <a href="https://buttondown.email/scouten">e-mail newsletter</a> with my latest travel and other stories:
        <form
          action="https://buttondown.email/api/emails/embed-subscribe/scouten"
          method="post"
          target="popupwindow"
          onsubmit="window.open('https://buttondown.email/scouten', 'popupwindow')"
          class="embeddable-buttondown-form">
          <input type="email" name="email" id="bd-email" placeholder="you-rock@example.com" class="email"/>
          <input type="hidden" name="tag" value="{{{ page.attributes.cta-site-id }}}" />
          <input type="submit" value="Subscribe" class="subscribe"/>
        </form>
      </p>
      <p><b>Or follow</b> me on one or more of the socials:</p>
      <ul>
        <li>
          <a rel="me" href="https://ericscouten.social/@scouten">
            <span class="icon is-small"><i class="fab fa-mastodon"></i></span>
            <b>Mastodon</b> <span class="optional">@scouten@ericscouten.social</span>
          </a>
        </li>
        <li>
          <a href="https://www.linkedin.com/in/ericscouten/">
            <span class="icon is-small"><i class="fab fa-linkedin"></i></span>
            <b>LinkedIn</b>
          </a>
        </li>
        <li>
          <a href="https://www.facebook.com/eric.scouten.photo/">
            <span class="icon is-small"><i class="fab fa-facebook-square"></i></span>
            <b>Facebook</b>
          </a>
        </li>
        <li>
          <a href="https://github.com/scouten">
            <span class="icon is-small"><i class="fab fa-github"></i></span>
            <b>GitHub</b> <span class="optional">@scouten</span> (personal)
          </a>
        </li>
        <li>
          <a href="https://github.com/scouten">
            <span class="icon is-small"><i class="fab fa-github"></i></span>
            <b>GitHub</b> <span class="optional">@scouten-adobe</span> (<span class="optional">open-source work for </span>Adobe)
          </a>
        </li>
        <li>
          <a href="https://now.ericscouten.com">
            <span class="icon is-small"><i class="fas fa-clock"></i></span>
            <b>My “now” page</b> <span class="optional">(What I’m working on now)</span>
          </a>
        </li>
      </ul> 
    </inner>
  </cta>
