<footer>
  <p>All text and code copyright © 1996 – {{year}}, <a href="https://ericscouten.com">Eric&nbsp;Scouten</a>, unless otherwise attributed.</p>
  <p>This is a personal site and not affiliated with my employer or anyone else in any way.</p>
</footer>
