    <header id="header">
        <div class="es-com">
            <div class="full-name">
                <a href="https://ericscouten.com"><img src="{{{uiRootPath}}}/img/es-logo.png" width="48" height="48" alt=""/>&thinsp;<span class="eric">eric</span>&thinsp;<span class="scouten">scouten.</span></a>&thinsp;<a href="/">code</a>
            </div>
            <div class="short-name">
                <a href="/"><img src="{{{uiRootPath}}}/img/es-logo.png" width="48" height="48" alt=""/>&thinsp;.code</a><span class="title">&thinsp;> 
                    <a href="#top">{{{detag (or page.title defaultPageTitle)}}}</a>
                </span>
            </div>
        </div>
    </header>
